<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>2CExample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewTrip</display-name>
    <servlet-name>ViewTrip</servlet-name>
    <servlet-class>ViewTrip</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TodoDB</display-name>
    <servlet-name>TodoDB</servlet-name>
    <servlet-class>TodoDB</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>MemoryDB</display-name>
    <servlet-name>MemoryDB</servlet-name>
    <servlet-class>MemoryDB</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TodoAbout</display-name>
    <servlet-name>TodoAbout</servlet-name>
    <servlet-class>TodoAbout</servlet-class>
  </servlet>
    <servlet>
    <description></description>
    <display-name>AddAbout</display-name>
    <servlet-name>AddAbout</servlet-name>
    <servlet-class>AddAbout</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>MemberDB</display-name>
    <servlet-name>MemberDB</servlet-name>
    <servlet-class>MemberDB</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ViewAllTrips</display-name>
    <servlet-name>ViewAllTrips</servlet-name>
    <servlet-class>ViewAllTrips</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTrip</servlet-name>
    <url-pattern>/1</url-pattern>
    <url-pattern>/2</url-pattern>
    <url-pattern>/3</url-pattern>
    <url-pattern>/4</url-pattern>
    <url-pattern>/5</url-pattern>
    <url-pattern>/6</url-pattern>
    <url-pattern>/7</url-pattern>
    <url-pattern>/8</url-pattern>
    <url-pattern>/9</url-pattern>
    <url-pattern>/10</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TodoDB</servlet-name>
    <url-pattern>/add_todo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemoryDB</servlet-name>
    <url-pattern>/add_memory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TodoAbout</servlet-name>
    <url-pattern>/todo_about</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AddAbout</servlet-name>
    <url-pattern>/add_about</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>MemberDB</servlet-name>
    <url-pattern>/add_member</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewAllTrips</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>